/* styles.css */
body {
    background-color: rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace
}

h1 {
    color: rgb(0, 0, 255);
}

h2{
    color:blue
}

p {color:antiquewhite}
ol {color:blue}
ul {color:antiquewhite}


hr {
    border: none;            /* Remove the default border */
    height: 0;               /* Set height to 0 */
    border-top: 4px dotted rgb(0, 0, 255); /* Add a top border with dotted style */
}
