* {
  font-family: monospace;
  box-sizing: border-box;
}

h2 {
  font-size: 20px;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
}

.split {
  height: 100%;
  overflow-y: scroll;
}

.left {
  flex: 3;
  background-color: #2a3539;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  flex: 1;
  background-color: rgb(30, 30, 30);
  color: black;
}

.header {
  width: 100%;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.list-item {
  margin-bottom: 20px;
}

.flex-container-tracks {
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 204, 204);
  margin-bottom: 10px; /* Corrected from 'margin-bottom: 10;' */
  padding: 20px;
  border-radius: 10px;
}

.albumCoverImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.album {
  color: rgb(48, 48, 48);
  padding: 0 20px; /* Adjusted padding */
  margin: 0; /* Removed margin */
}

.artistName {
  color: rgb(48, 48, 48);
  border-radius: 5px;
  padding: 0 20px; /* Adjusted padding */
  margin: 0; /* Removed margin */
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}
